.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.intro {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveCount {
  text-align: center;
  margin-top: 16px;
  padding: 8px;
  color: gray;
  font-size: 14px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
}

.loadingMsg {
  text-align: center;
  margin-top: 16px;
  padding: 8px;
  color: gray;
  font-size: 14px;
}

.linkInput {
  margin-top: 16px;
  padding: 4px;
  color: gray;
  font-size: 14px;
}

.msgInput {
  margin-top: 16px;
  padding: 4px;
  color: gray;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.submitButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px; 
}